<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container-fluid">
        <header>
            <img src="images/suggar-doggy-logo.png" class="logo" alt="Logo Suggar Doggy">
            <h1>Suggar Doggy</h1>
        </header>


        <main id="basket-page">
          <div class="header-page">
            <div class="row">
              <div class="col-12">
                  <h2>Panier</h2>
                  <div class="description-shop">
                    Votre commande chez Vidici pâtisserie.
                  </div>
              </div>
            </div>
          </div>


            <div class="select-product-part">
              <div class="row">
                <div class="col-8">

                  <div class="delivery-part">
                    <h3 class="title-kart"> Livraison </h3>
                    <form action="" method="post">
                      <div class="row bs-pd-row-form">
                        <div class="col-2 bs-pd-col-form">Je suis :</div>
                        <div class="col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="" placeholder="Dupont">
                        </div>
                        <div class="col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="" placeholder="Jean">
                        </div>
                        <div class="col-2 bs-pd-col-form">Je veux être livré :</div>
                        <div class="col-10 bs-pd-col-form">
                          <input type="text" class="form-control" name="" placeholder="12 rue de la paix">
                        </div>
                        <div class="offset-2 col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="" placeholder="69 000">
                        </div>
                        <div class="col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="" placeholder="LYON">
                        </div>
                      </div>
                    </form>
                  </div>



                  <div class="product-list">
                    <h3 class="title-kart"> Votre panier </h3>

                    <%
                    for(let i=0; i < panierClient.length; i++){
                    %>
                    <div class="market-list">
                      <div class="product-items alert alert-sd">
                        <div class="row">
                          <div class="col-9 product-name"><%= panierClient[i].nombre %> x <%= panierClient[i].nom %></div>
                          <div class="col-2 product-price"><%= panierClient[i].prix.toFixed(2) %> €</div>
                        </div>
                      </div>
                    </div>
                    <%
                    }
                    var total = deliveryAndTotalOrder.totalCmd + deliveryAndTotalOrder.livraison;
                    %>
                    <div class="row delivery-line">
                      <div class="col-9">Livraison</div>
                      <div class="col-2"><%= deliveryAndTotalOrder.livraison.toFixed(2) %> €</div>
                    </div>
                    <div class="row total-line">
                      <div class="col-9">Total</div>
                      <div class="col-2"><%= total.toFixed(2) %> €</div>
                    </div>



                  </div>
                </div>

                <div class="offset-1 col-3">
                  <div class="min-description-customer">
                      <h3>Vidici Pâtisserie</h3>
                      <h4>Téléphone :</h4>
                      <p>04 00 00 00 00</p>

                      <h4>Adresse :</h4>
                      <p>12 rue de la paix<br>69 000 LYON</p>

                      <div id="map"></div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </main>


    </div>



  </body>
</html>
