<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container-fluid">
        <header>
          <div class="brand">
            <img src="images/suggar-doggy-logo.png" class="logo">
            <h1>SUGGAR DOGGY</h1>
          </div>
        </header>


        <main id="basket-page">
          <div class="header-page">
            <div class="row">
              <div class="col-12">
                  <h2>Panier</h2>
                  <div class="description-shop">
                    Votre commande chez Vidici pâtisserie.
                  </div>
              </div>
            </div>
          </div>


            <div class="select-product-part">
              <div class="row">
                <div class="col-8">

<%

console.log( typeof(envoiform) );

if ( typeof(envoiform)=="undefined" )
{

%>

                  <div class="delivery-part">
                    <h3 class="title-kart"> Livraison </h3>
                    <form action="/livraison" method="post">
                      <div class="row bs-pd-row-form">
                        <div class="col-2 bs-pd-col-form">Je suis :</div>
                        <div class="col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="livnom" placeholder="Dupont">
                        </div>
                        <div class="col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="livprenom" placeholder="Jean">
                        </div>
                        <div class="col-2 bs-pd-col-form">Je veux être livré :</div>
                        <div class="col-10 bs-pd-col-form">
                          <input type="text" class="form-control" name="livadresse" placeholder="12 rue de la paix">
                        </div>
                        <div class="offset-2 col-5 bs-pd-col-form">
                          <input type="text" class="form-control" name="livcp" placeholder="69 000">
                        </div>
                        <div class="col-5 bs-pd-col-form">
                          <input type="text"   class="form-control" name="livville"  placeholder="LYON">
                          <input type="hidden" class="form-control" name="envoiform" value="1000">
                        </div>


                        <div class="offset-2 col-10 bs-pd-col-form">
                          <button class="btn btn-SuggarDoggy">Envoyer</button>
                        </div>



                      </div>
                    </form>
                  </div>

<%

}
else
{


%>



                  <div class="delivery-part">
                    <h3 class="title-kart"> Confirmation envoi de la commande </h3>
                    <%=livnom%> <%=livprenom%> sera livré(e) à l'adresse:<br />
                    <%=livadresse%><br />
                    <%=livcp%><%=livville%>
                  </div>


<%

}

%>




                  <div class="product-list">
                    <h3 class="title-kart"> Votre panier </h3>

                    <%
                    for(let i=0; i < panierClient.length; i++){
                    %>
                    <div class="market-list">
                      <div class="product-items alert alert-sd">
                        <div class="row">
                          <div class="col-10 product-name"><%= panierClient[i].nombre %> x <%= panierClient[i].nom %></div>
                          <div class="col-2 product-price"><%= panierClient[i].prix.toFixed(2) %> €</div>
                        </div>
                      </div>
                    </div>
                    <%
                    }
                    var total = deliveryAndTotalOrder.totalCmd + deliveryAndTotalOrder.livraison;
                    %>
                    <div class="row delivery-line">
                      <div class="col-10">Livraison</div>
                      <div class="col-2"><%= deliveryAndTotalOrder.livraison.toFixed(2) %> €</div>
                    </div>
                    <div class="row total-line">
                      <div class="col-10">Total</div>
                      <div class="col-2"><%= deliveryAndTotalOrder.totalCmdDelivery.toFixed(2) %> €</div>
                    </div>
                    <div class="row">

                      <div class="offset-8 col-4">
                          <form action="/checkout" method="POST">
                            <script
                              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="pk_test_6Ae1ZS6qKqgB8ERKMSfKJu7d"
                              data-amount="<%= deliveryAndTotalOrder.totalCmdDelivery*100 %>"
                              data-name="Suggar Doggy"
                              data-description="Payez votre commande de chez <%=shop[0].raisonSociale%> "
                              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                              data-locale="auto"
                              data-currency="eur"
                              data-label="Payer">
                            </script>
                          </form>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="offset-1 col-3">
                  <div class="min-description-customer">
                      <h3><%=shop[0].raisonSociale%></h3>
                      <h4>Téléphone :</h4>
                      <p>04 00 00 00 00</p>

                      <h4>Adresse :</h4>
                      <p><%=shop[0].adresse%><br><%=shop[0].cp%> <%=shop[0].ville%></p>

                      <div id="map1"></div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </main>


    </div>


<script type="text/javascript">
var geocoder;
var map;
var adresse = "<%=shop[0].adresse%>" + ", " + "<%=shop[0].cp%>" + " " + "<%=shop[0].ville%>";

// prévoir keyAPI
// prévoir style gris


function initMap()
{
  geocoder = new google.maps.Geocoder();
  geocoder.geocode( { 'address': adresse}, function(results, status)
  {
    if ( status == google.maps.GeocoderStatus.OK )
    {
       //map.setCenter(results[0].geometry.location);
       var mapOptions =
       {
          zoom      : 14,
          center    : results[0].geometry.location,
          mapTypeId : google.maps.MapTypeId.ROADMAP
       }

       map = new google.maps.Map(document.getElementById('map1'), mapOptions);
       var marker = new google.maps.Marker(
       {
          map: map,
          position: results[0].geometry.location
       });

    }
    else
    {
       var latlng = new google.maps.LatLng(45.7580539,4.8176094);
       var mapOptions =
       {
          zoom      : 14,
          center    : latlng,
          mapTypeId : google.maps.MapTypeId.ROADMAP
       }
       map = new google.maps.Map(document.getElementById('map1'), mapOptions);
    }
  });


}

</script>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr?key=AIzaSyA5wwL81VWuapcGISZ6P9SzrLkYrDfSCPE&callback=initMap">
</script>

  </body>
</html>
