<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Suggar Doddy - votre boutique en ligne</title>
    <link href="images/suggar-doggy-logo-min.png" rel="shortcut icon" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container-fluid">
        <header>
            <div class="brand">
              <img src="images/suggar-doggy-logo.png" class="logo">
              <h1>SUGGAR DOGGY</h1>
            </div>

            <div class="login-part">
              <form action="/deconnexionPartner" method="post">
                <button class="btn btn-SuggarDoggy">Déconnectez-vous</button>
              </form>
            </div>
        </header>


        <main id="partner-page">
          <div class="header-page">
            <div class="row">

              <div class="col-8">
                <div class="title">
                  <h2><%= shop[0].raisonSociale %></h2>
                  <button type="button" class="btn btn-info-partner" data-toggle="modal" data-target="#modalsociete" data-whatever="@mdo">Modifier vos informations</button>
                </div>
                  <div class="specialite-shop"><%= shop[0].specialite %> • <%= shop[0].ville+' '+shop[0].cp %></div>
                  <div class="description-shop">
                    <%= shop[0].descriptif %>
                  </div>
              </div>

              <div class="offset-1  col-3">
                <img class="pro-img" src="images/homeBackground.jpg" alt="test">
              </div>
            </div>

          </div>

            <div class="select-product-part">
              <div class="row">
                <div class="col-8">
                  <div class="product-list">
                    <button type="button" class="btn btn-info-partner" data-toggle="modal" data-target="#modalproduit" data-whatever="@mdo">Ajouter un produit</button>


                    <%
                    for(let i = 0; i < productList.length; i++)
                       {
                    %>
                    <div class="market-list">
                      <div class="product-items alert alert-sd">
                        <div class="row">
                          <div class="col-9 product-name"><%= productList[i].nombre %> lots de <%= productList[i].nom %></div>
                          <div class="col-2 product-price"><%= productList[i].prix.toFixed(2) %> €</div>
                          <div class="col-1 add-product">
                            <a href="/deleteProduct?id=<%=productList[i]._id%>&leshop=<%=shop[0]._id%>"><i class="fas fa-minus-circle"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                       }
                    %>

                  </div>
                </div>

                <div class="offset-1 col-3">
                  <div class="min-description-customer">

                      <h3><%=shop[0].raisonSociale%></h3>



                      <h4>Siret :</h4>
                      <p>15263589652412</p>


                      <h4>Téléphone :</h4>
                      <p><%=shop[0].tel%></p>

                      <h4>Adresse :</h4>
                      <p><%=shop[0].adresse%><br><%=shop[0].cp%> <%=shop[0].ville%></p>

                      <h4>e-mail :</h4>
                      <p><%=shop[0].email%></p>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </main>


    </div>




<div class="modal fade" id="modalsociete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
             <!-- <h5 class="modal-title" id="exampleModalLabel">VOTRE FICHE PRODUIT</h5> -->
             <h1 class="titremodal">votre société</h1>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <form action="/updateShop" class="modal-form" method="post">
         <div class="modal-body">

               <div class="row bs-pd-row-form">

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopspecialite" placeholder="Votre spécialité" value="<%=shop[0].specialite%>">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopraisonSociale" placeholder="Votre raison sociale" value="<%=shop[0].raisonSociale%>">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopsiret" placeholder="Votre siret" value="<%=shop[0].siret%>">
                       <input type="hidden"                    name="shopid"                              value="<%=shop[0]._id%>">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopadresse" placeholder="Votre adresse" value="<%=shop[0].adresse%>">
                   </div>

                   <div class="offset-1 col-5 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopcp" placeholder="Votre code postal" value="<%=shop[0].cp%>">
                   </div>
                   <div class="         col-5 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopville" placeholder="Votre ville" value="<%=shop[0].ville%>">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="shoptel" placeholder="Votre téléphone" value="<%=shop[0].tel%>">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="shopimage" placeholder="Votre image" value="<%=shop[0].image%>">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <textarea type="text" class="form-control" name="shopdescriptif" rows="4" placeholder="Votre descriptif"><%=shop[0].descriptif%></textarea>
                   </div>
                   <!-- <div class="offset-1 col-10 bs-pd-col-form">
                       <button class="btn btn-SuggarDoggy">Ajouter votre société</button>
                   </div> -->
               </div>


         </div>

         <div class="modal-footer">
             <button class="btn btn-SuggarDoggy">Modifier vos coordonnées</button>
         </div>
         </form>

      </div>
   </div>
</div>



<div class="modal fade" id="modalproduit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
             <!-- <h5 class="modal-title" id="exampleModalLabel">VOTRE FICHE PRODUIT</h5> -->
             <h1 class="titremodal">votre fiche produit</h1>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <form action="/addProduct" class="modal-form" method="post">
         <div class="modal-body">

               <div class="row bs-pd-row-form">

                 <div class="offset-1 col-10 bs-pd-col-form">
                   <h4>Définissez votre Lot :</h4>
                 </div>

                   <div class="offset-1 col-3 bs-pd-col-form">
                       <input type="text" class="form-control" name="prodquantite" placeholder="Quantité">
                       <input type="hidden"                    name="prodshopsId"  value="<%=shop[0]._id%>">
                   </div>
                   <div class="col-7 bs-pd-col-form">
                       <input type="text" class="form-control" name="prodnom" placeholder="Nom du produit">
                   </div>

                   <div class="offset-1 col-10 bs-pd-col-form">
                       <input type="text" class="form-control" name="prodallergenes" placeholder="Allergène1, allergène2...">
                   </div>
                   <div class="offset-1 col-3 bs-pd-col-form">
                       <input type="text" class="form-control" name="prodprix" placeholder="Prix en €">
                   </div>

                     <div class="offset-1 col-10 bs-pd-col-form">
                         <h4>Saisissez le nombre de lots :</h4>
                     </div>
                      <div class="offset-1 col-10 bs-pd-col-form">
                         <input type="text" class="form-control" name="prodnombre" placeholder="Nombre de lots">
                     </div>

                   <!--<div class="offset-1 col-10 bs-pd-col-form">
                       <button class="btn btn-SuggarDoggy btn-addproduct">Ajouter le produit</button>
                       </div> -->
               </div>
         </div>
         <div class="modal-footer">
             <button class="btn btn-SuggarDoggy">Ajouter un produit</button>
         </div>
         </form>

      </div>
   </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



  </body>
</html>
